/* BGR Logo
.bgr-svg-logo {
  width: 60%; /* this doesn't work on svg had to change the viewport
} */

/* key frame animation */

svg {
  position: fixed;
  top: 20px;
  z-index: -4;
  animation: fly 2s;
}

@keyframes fly {
  0% {
    left: 3000px;
    transform: rotate(10deg);
    transform-origin: 50% 50%;
  }
  90% {
    left: 20px;
    transform: rotate(10deg);
    transform-origin: 50% 50%;
  }
  100% {
    left: 0px;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
}



/* nav menus */
.content-wrapper {
  margin-top: 600px;
}
.main-nav {
  width: 100%;
  position: absolute;
  top: 550px;

  /*position: relative;*/
}


.stuck {
  position: fixed;
  top: 0;
  margin-top: 0;
}

button {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: pink;
  font-size: 25px;
  border: 1px;
  border-color: black;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  text-decoration: underline;
}

ul.subnav {
  background-color: #1367A1;
  position: absolute;
  padding: 0;
}

ul.nav {
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 100px;
  /*border: 1px solid black;
  background: #FFFFFF;*/
}

ul.subnav {
  border: 1px solid #8CA487;
  padding: 3px;
}

.subnav li {
  /*border: 1px solid black;
  background: #9DC794;*/
  display: block;
}

.hidden {
  display: none;
}

/* body content wrapper */

.content-wrapper {
  width: 98%;
  background-color: rgba(255,255,255,.4)
}



/* pokemon image gallery styling */
.gallery {
    padding: 20px;
  }
.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }
.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }
.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 250px;
  }
