/* BGR Logo
.bgr-svg-logo {
  width: 60%; /* this doesn't work on svg had to change the viewport 
} */



/* nav menus */

button {
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: pink;
  font-size: 25px;
  border: 1px;
  border-color: black;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  text-decoration: underline;
}

ul.subnav {
  background-color: #1367A1;
  position: absolute;
  padding: 0;
}

ul.nav {
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  width: 100px;
  /*border: 1px solid black;
  background: #FFFFFF;*/
}

ul.subnav {
  border: 1px solid #8CA487;
  padding: 3px;
}

.subnav li {
  /*border: 1px solid black;
  background: #9DC794;*/
  display: block;
}

.hidden {
  display: none;
}


/* pokemon image gallery styling */
.gallery {
    padding: 20px;
  }
.thumbnails img {
    height: 80px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0;
  }
.thumbnails img:hover {
    border: 4px solid #00ccff;
    cursor:pointer;
  }
.preview img {
    border: 4px solid #444;
    padding: 1px;
    width: 250px;
  }
